<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

  <form (ngSubmit)="joinGame()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" [(ngModel)]="playerName" class="form-control" />
    </div>
    <div class="form-group">
      <label for="gameId"> GameId </label>
      <input type="text" name="gameId" [(ngModel)]="sessionId" class="form-control" />
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success form-control" value="Start"/>
    </div>
  </form>
</div>
