<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div *ngIf="!gameStarted">
    <button (click)="getAllAssumptions()" class="form-control">{{currentAction}} </button>
  </div>
  <div *ngIf="gameStarted">

    <div class="row form-group">
      Which Player is this?
    </div>
    <div class="row form-group" style="height:50px">
      <span class="form-control">{{currentAssumption}}</span>
    </div>
    <div class="row form-group">
      <div class="col">
        <button (click)="goPreviousAssumption()" class="form-control"> Previous</button>
      </div>
      <div class="col" *ngIf="!isLast">
        <button (click)="goNextAssumption()" class="form-control"> Next</button>
      </div>
      <div class="col" *ngIf="isLast">
        <button (click)="finishGame()" class="form-control"> Finish</button>
      </div>
      <div class="col">
        <button (click)="getAllAssumptions()" class="form-control">{{currentAction}} </button>
      </div>
    </div>

  </div>
</div>





